body {
    font-family: Arial;
    text-align: center;
}

header {
    margin-bottom: 100px;
}

h1 {
    background-color: black;
    color: white;
    margin: 0px;
    padding: 10px;
}

.date {
    font-size: 300%;
    font-family: "Times New Roman", 'Times New Roman', Times, serif;
}